footer {
    position: relative;
    background-color: #402e2d;
    margin-top: 0px;
    font-size: small;
}

footer .top {
    display: flex;
    flex-direction: row;
}

footer .top .left,
footer .top .right {
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    height:  250px;
}

footer .top .left ul,
footer .top .right ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .top .left {
    width: 300px;
}

footer .top .right {
    width: 100%;
    border-left: 1px solid gray;
}

footer .top .left span{
    color: #8ddef2;
}
footer .bottom .top{
    color: #0f5769;
}
footer .bottom .rights{
    color: #0f5769;
}
footer .top .right ul li p{
    color: #0f5769;
}
footer .bottom .bottom {
    border-top: 1px solid gray;
    box-sizing: border-box;
}

footer .bottom .bottom .links {
    display: flex;
    flex-direction: row;
}

footer .bottom .bottom .links a {
    align-items: stretch;
}

.a-color{
    text-decoration: none;
    color: #41aac4;
}
.a-color :hover{
    text-decoration: none;
    color: #FF9000;
}