.gallery {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.gallery figure {
    margin: 0;
    display: block;
    vertical-align: top;
    align-items: stretch;
}
.gallery figure img {
    width: 100%;
}
.product{
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.s .p {
    margin: 0px;
}

#galleryHat{
    text-align: center;
    margin-top: 100px;
}