body {
    /*background: #e2eedc ;*/
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    /*margin: 0px;*/
}
#user{
    margin-top: 100px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 50%;
    height: 400px;
}
.two{
    width: 50%;
    height: 400px;
    background-color: #FF9000;
}
.inside{
    margin-top: 50px
}